<h2>Confirme su nueva contraseña</h2>
<hr>
<br>
<form action="/api/users/confirmPassword" method="post">
    <input type="email" value="{{userEmail}}" name="email">
    <input type="password" name="password" placeholder="Ingrese su nueva contraseña" required="true">
    <input type="submit" value="Confirmar contraseña">
</form>