<h1>Home Page</h1>
<hr>
<h3>Listado de productos en tiempo real</h3>
<hr>
<div>
    <ul id="productsRealTime"></ul>
</div> 

<script src="socket.io/socket.io.js"></script> 
<script src="assets/js/client.js"></script> 