<h1>Felicitaciones! Su compra ha sido exitosa</h1>
<br>
<p>Le enviamos un correo electronico a {{userEmail}} con los detalles y la factura de su compra. Muchas gracias por confiar en nosotros.</p>
<br>
<ul class="menu"><li> <a href="/">Volver al inicio</a></li></ul>